
  .hero-section {
    background: linear-gradient(135deg, rgba(77, 4, 21, 0.264), rgba(0, 0, 0, 0.3));
    padding: 4rem 2rem;
    border-bottom: 3px solid #66071112;
    border-radius: 50px;
    transform: translateY(5px);
  }
  
  .container .row.g-4 {
    margin-top: 2rem;
    justify-content: center;
  }
  
